@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide x-axis grid lines */
.chartjs-wrapper .chartjs-x-axis {
    display: none;
  }
  
  /* Hide y-axis grid lines */
  .chartjs-wrapper .chartjs-y-axis {
    display: none;
  }
  
*{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* Add this CSS */
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Webkit browsers */
}

.scrollbar-none {
  -ms-overflow-style: none; /* Hides scrollbar for IE/Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}


@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.6s linear;
}
